# --------------------------------------------------
# Git configuration
# --------------------------------------------------
[user]
	email = louaikelani99k@gmail.com
	name = Louai99k
[credential]
	helper = store
[core]
  editor = nvim
