* {
  all: initial;
  font-family:
    JetBrainsMono Nerd Font,
    sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: transparent;
  color: #e0def4;
}

tooltip {
  background-color: #191724;
  border-radius: 5px;
}

#workspaces {
  background-color: #2a283e;
  border-radius: 5px;
  padding: 0 10px;
}

#workspaces button {
  all: unset;
  padding: 0 5px;
}

#workspaces button label {
  transition: all 0.2s ease;
}

#workspaces button.active label {
  color: #eb6f92;
}

#network,
#wireplumber,
#battery,
#language,
#memory,
#clock {
  background-color: #2a283e;
  border-radius: 5px;
  padding: 0 5px;
}
